@use "../abstracts/" as *;
// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.button {
  border: none;
  cursor: pointer;
  border-radius: 5rem;
  padding: 1rem 1.6rem;
  color: $light-red;
  background: $white;
  font-family: $font-family-ubuntu;
  font-weight: 500;
  font-size: 1rem;
  margin: 0;

  @include on-event {
    filter: brightness(1.15);
    transition: $transition;
  }
}
.goust {
  @extend .button;
  background: none;
  border: 2px solid $white;
  color: $white;
  @include on-event {
    background: $white;
    color: $very-light-red;
  }
}
.btn-text {
  @extend .button;
  background: none;
  color: $white;
  font-size: 1.125rem;
  letter-spacing: -0.01em;
  opacity: 0.8;
  @include on-event {
    opacity: 1;
  }
}
.btn-cta {
  background: $white;
  color: $very-light-red;
  padding: 1rem 2rem;
  @include on-event {
    background: $very-light-red;
    color: $white;
  }
}
